body {
            font-family: 'Inter', sans-serif;
            background-color: #f3e9d2; 
            color: #4b3832;
            line-height: 1.6;
            overflow-x: hidden;
            background-image: url('https://raw.githubusercontent.com/Aleg160/Imgbod/refs/heads/main/BG%20B.png'); 
            background-attachment: scroll; 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
        }

        @font-face {
            font-family: 'Optima Regular';
            src: url('https://raw.githubusercontent.com/Aleg160/Imgbod/main/fonts/OPTIMA.TTF') format('truetype');
            font-weight: 400;
            font-style: normal;
            }

        @font-face {
            font-family: 'Optima Bold';
            src: url('https://raw.githubusercontent.com/Aleg160/Imgbod/main/fonts/OPTIMA_B.TTF') format('truetype');
            font-weight: 700;
            font-style: normal;
            }

        @font-face {
            font-family: 'Optima Italic';
            src: url('https://raw.githubusercontent.com/Aleg160/Imgbod/main/fonts/Optima_Italic.ttf') format('truetype');
            font-weight: 400;
            font-style: italic;
            }

        @font-face {
            font-family: 'TT Quaris';
            src: url('https://raw.githubusercontent.com/Aleg160/Imgbod/main/fuentes/TT%20Quaris%20Font%20Family/fonts/TTQuaris-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        
        
            /* Clase personalizada para tu fuente */
        .font-optima {
            font-family: 'Optima Regular', sans-serif;
        }

        .font-noto-serif {
            font-family: 'Noto Serif', serif;
        }

        .text-great-vibes {
            font-family: 'Great Vibes', cursive;
        }

        .pinyon-script-regular {
            font-family: "Pinyon Script", cursive;
            font-weight: 400;
            font-style: normal;
            }

        .font-tt-quaris {
            font-family: 'TT Quaris', sans-serif;
        }
        
        /* Video de introducción */
        #intro-video {
            position: fixed;
            top: 0; left: 0;
            width: auto;
            height: 932px;
            object-fit: cover;
            z-index: 9998;
        }

        /* Overlay negro */
        #intro-overlay {
            cursor: pointer;
            position: fixed;
            top: 0; left: 0;
            width: auto;
            height: 932px;
            z-index: 9999;
            transition: opacity 1s ease;
        }

        #intro-overlay.hidden,
        #intro-video.hidden {
        opacity: 0;
        pointer-events: none;
        }

        .scroll-section {
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 1s ease-out, transform 1s ease-out;
            will-change: opacity, transform;
            text-align: center;

            max-width: 600px; /* Define el ancho MÁXIMO */
            width: 100%;       /* Ocupa el 100% del espacio disponible HASTA el máximo */
            margin-left: auto;   /* Centra la sección horizontalmente */
            margin-right: auto;
        }

        .section-visible {
            opacity: 1;
            transform: translateY(0);
        }

        .btn {
            display: inline-block;
            background-color: #7c0000;
            color: white;
            padding: 1rem 2.5rem;
            border-radius: 9999px; /* Cambio: Uso de un valor grande para esquinas completamente redondeadas */
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: background-color 0.3s, transform 0.3s;
        }

        .btn:hover {
            background-color: #967554;
            transform: translateY(-2px);
        }

        .icon-small {
            width: 40px;
            height: 40px;
        }

        .countdown-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 700;
            color: #7c0000;
        }

        .countdown-label {
            font-size: 0.8rem;
            font-weight: 400;
            color: #4b3832;
            margin-top: 0.25rem;
        }

        .image-container {
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 2rem;
        }

        .image-container img {
            width: 100%;
            height: auto;
            display: block;
        }

        .play-pause-btn {
            background-color: transparent;
            border: 2px solid white;
            color: white;
            padding: 0.5rem 1rem;
            border-radius: 9999px;
            font-size: 0.875rem;
            margin-top: 1rem;
            transition: background-color 0.3s, transform 0.3s;
        }

        .play-pause-btn:hover {
            background-color: rgba(255, 255, 255, 0.2);
            transform: translateY(-2px);
        }

        /* Limpiamos la clase para que ya no sea un recuadro */
        .container-section {
            max-width: 800px;
            margin: 0 auto;
            padding: 4rem;
            margin-bottom: 4rem;
        }

        .countdown {
            gap: 0.5rem; /* espacio entre números y dos puntos */
        }

        .countdown-item {
            min-width: 2.7ch; /* mantiene el ancho uniforme */
            text-align: center;
        }

        .separator {
            margin: 0 0.3rem;
            color: #5b1a0a;
        }

        .countdown-labels {
            font-family: Optima, "Segoe UI", Candara, "Noto Sans", sans-serif;
            font-style: italic;
            font-size: 1.0rem; /* más pequeña */
            letter-spacing: 0.05em;
            text-align: center;
        }

        /* Asegura que todos los nombres queden alineados */
        .countdown-labels div {
            width: 5rem; /* ajusta si quieres más o menos espacio */
        }

        #seccion-portada {
            background-image: url('https://raw.githubusercontent.com/invitacion-d/Imgbod/refs/heads/main/sofi/background.png');
            background-size: cover;
            background-position: center;
            width: 100%;           /* ocupa todo el eje horizontal disponible */
            max-width: 500px;      /* no crece más que el diseño original */
            aspect-ratio: 500 / 100; /* mantiene la proporción 430x932 */
            height: auto;          /* la altura se calcula según el ancho */
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;        /* centra horizontalmente */
            padding: 20px;
            box-sizing: border-box;
        }

        #seccion-invitado {
            background-image: url('https://raw.githubusercontent.com/invitacion-d/Imgbod/refs/heads/main/sofi/p1.png');
            background-size: cover;
            background-position: center;
            width: 100%;
            max-width: 500px;
            aspect-ratio: 500 / 400;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        #seccion-padres {
            background-image: url('https://raw.githubusercontent.com/invitacion-d/Imgbod/refs/heads/main/sofi/p2.png');
            background-size: cover;
            background-position: center;
            width: 100%;
            max-width: 500px;
            aspect-ratio: 500 / 500;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        #seccion-post {
            background-image: url('https://raw.githubusercontent.com/invitacion-d/Imgbod/refs/heads/main/sofi/molde.png');
            background-size: cover;
            background-position: center;
            width: 100%;
            max-width: 500px;
            min-height: 1000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
            position: relative;
        }

        /* Imagen superior */
        .img-superior {
            position: absolute;
            top: 205px; /* Ajusta este valor para subir o bajar la imagen */
            left: 50%;
            transform: translateX(-50%);
            width: 90%; /* Ajusta el tamaño según necesites */
            max-width: 450px;
            height: auto;
            z-index: 10;
        }  

        .img-superf {
            position: absolute;
            top: 380px; /* Ajusta este valor para subir o bajar la imagen */
            left: 50%;
            transform: translateX(-50%);
            width: 90%; /* Ajusta el tamaño según necesites */
            max-width: 490px;
            height: auto;
            z-index: 10;
        }  

        .btn-direccion {
            position: absolute;
            top: 500px;
            left: 50%;
            transform: translateX(-50%);
            width: 220px;
            z-index: 20;
        }

        .img-text {
            position: absolute;
            top: 560px; /* Ajusta este valor para subir o bajar la imagen */
            left: 50%;
            transform: translateX(-50%);
            width: 90%; /* Ajusta el tamaño según necesites */
            max-width: 490px;
            height: auto;
            z-index: 10;
        }  

        .btn-whatsapp {
            position: absolute;
            top: 680px;
            left: 50%;
            transform: translateX(-50%);
            width: 220px;
            z-index: 20;
        }

        #seccion-dia {
            background-image: url('https://raw.githubusercontent.com/Aleg160/Imgbod/refs/heads/main/AK14.png');
            background-size: cover;
            background-position: center;
            width: 100%;
            max-width: 500px;
            aspect-ratio: 500 / 500;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }
        
        #seccion-invitados {
            background-image: url('https://raw.githubusercontent.com/Aleg160/Imgbod/refs/heads/main/AK11.png');
            background-size: cover;
            background-position: center;
            width: 100%;
            max-width: 430px;
            aspect-ratio: 430 / 932;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        #seccion-location {
            background-image: url('https://raw.githubusercontent.com/Aleg160/Imgbod/refs/heads/main/AK15.png');
            background-size: cover;
            background-position: center;
            width: 100%;
            max-width: 430px;
            aspect-ratio: 430 / 500;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        #seccion-Ppost {
            background-image: url('https://raw.githubusercontent.com/Aleg160/Imgbod/refs/heads/main/AK7.png');
            background-size: cover;
            background-position: center;
            width: 100%;
            max-width: 430px;
            aspect-ratio: 430 / 932;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        #seccion-album {
            background-image: url('https://raw.githubusercontent.com/Aleg160/Imgbod/refs/heads/main/AK8.png');
            background-size: cover;
            background-position: center;
            width: 100%;
            max-width: 430px;
            aspect-ratio: 430 / 932;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        #seccion-logo {
            background-image: url('https://raw.githubusercontent.com/Aleg160/Imgbod/refs/heads/main/AK9.png');
            background-size: cover;
            background-position: center;
            width: 100%;
            max-width: 430px;
            aspect-ratio: 430 / 932;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        .imagen-completa {
            width: 100%;
            max-width: 430px;
            aspect-ratio: 430 / 932;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

    /* Video de introducción */
        #intro-video {
            position: fixed;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 9998;
        }
    
    /* Overlay negro */
        #intro-overlay {
            position: fixed;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            transition: opacity 1s ease;
        }

        #intro-overlay.hidden,
        #intro-video.hidden {
            opacity: 0;
            pointer-events: none;
        }
        .fade-out {
            opacity: 0;
            transition: opacity 1s ease;
        }
        html, 
        body {
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
